.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-image: url('../images/Logo.png');
    height: 58px;
    width:182px;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.nav__a{
    font-size: 16px;
    color:black;
    text-decoration: none;
}
.logo_second{
    font-size: 22px;
}